# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK)
# for Python.
# License: Apache2
# Use: For KMS
boto3==1.1.3

# Flask
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
# Use: For API.
Flask==0.10.1

# Python client for Docker.
# License: Apache2
# Upstream url: https://github.com/docker/docker-py/
docker-py==1.6.0

# License: MIT
# Upstream url: http://gunicorn.org/
# Use: For wsgi running
gunicorn==19.3.0

# License: MIT
# Upstream url: http://www.gevent.org/
# Use: For concurrency
gevent==1.0.2

# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
# Use: For concurrency
greenlet==0.4.9
