# License: MIT
# Upstream url: http://gunicorn.org/
# Use: For wsgi running
gunicorn==19.3.0

# License: MIT
# Upstream url: http://www.gevent.org/
# Use: For concurrency
gevent==1.0.2

# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
# Use: For concurrency
greenlet==0.4.9
